{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'about.css' %}">

</head>
<body>
    <h1>about us</h1><hr>
    <p>     Welcome to DemoSite, your go-to platform for exploring modern web solutions. Our mission is to showcase innovative design, intuitive functionality, and seamless user experiences.

At DemoSite, we believe that great ideas deserve a clean, interactive space to shine. Whether you’re testing features, learning web development, or evaluating UI/UX concepts, our demo platform provides a simple and engaging environment to explore and experiment.

We are committed to continuous improvement and innovation, ensuring that every visitor experiences the best of what the web has to offer.</p>
</body>
</html>