.mybtn{
    
    
    background-color: green;
    color: white;
    margin-left: 48%;
    margin-top: 8%;
}
h4{
    color: red;
    text-align: center;
    text-transform: capitalize;
}
h1{
    text-align: center;
}